.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .movielist {
    display: flex;
    flex-direction: column;
    height: 70%;
  }
}

.search {
  position: sticky;
  top: 0;
}
