@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .inputbox {
      width: 100%;
      padding: 5px 10px;
      font-size: 20px;
      background-color: colors.$WHITE;
      border-radius: 10px;
    }

    .submitBtn {
      position: absolute;
      top: 7px;
      left: 90%;
    }
  }

  .movielist {
    display: flex;
    flex-direction: column;
    height: 70%;
  }
}

// .search {
//   position: sticky;
//   top: 0;
// }
