.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .movielist {
    height: 70%;
    display: flex;
    flex-direction: column;
  }
}

.search {
  position: sticky;
  top: 0;
}
