@use '/src/styles/constants/colors';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 10px;

  .spinner {
    width: 30px;
    height: 30px;
    border: 7px solid colors.$GRAYD;
    border-top: 7px solid colors.$TEAL;
    border-radius: 50%;
    animation: spinner 1.5s ease-in-out infinite;
  }
}
