@use '/src/styles/constants/sizes';
@use '/src/styles/constants/colors';

.layout {
  width: 360px;
  height: sizes.$APP_HEIGHT;
  background-color: colors.$TEAL;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .title {
    font-size: 30px;
  }
}
