@use '/src/styles/constants/colors';

.container {
  position: fixed;
  width: 100%;
  height: 100%;

  .btn {
    display: flex;
    background-color: colors.$GRAY6;
    width: 160px;
    height: 45px;
    border-radius: 10px;

    button {
      width: 80px;
      color: colors.$GRAYE;
    }
    button:first-child {
      border-right: 1px solid colors.$GRAYE;
    }
  }
}
