.search {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  margin-bottom: 20px;

  .inputbox {
    width: 100%;
    padding: 5px 10px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
  }
  .submitBtn {
    position: absolute;
    left: 90%;
    top: 7px;
  }
}
