.container {
  width: 100%;

  .navbar {
    display: flex;
    background-color: blue;
    width: 100%;
    justify-content: center;
    border-radius: 5px;

    li {
      flex-grow: 1;
      text-align: center;
      padding: 10px 0;
      a {
        color: black;
      }
    }
  }
}

.clicked {
  font-weight: 600;
}
