@use '/src/styles/constants/colors';

.container {
  width: 100%;

  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: colors.$BLUE;
    border-radius: 5px;

    li {
      flex-grow: 1;
      padding: 10px 0;
      text-align: center;

      a {
        color: colors.$BLACK;
      }
    }
  }
}

.clicked {
  font-weight: 600;
}
